 <%-include("partials/header")-%>

        <section class="bg-white dark:bg-gray-900">
            <div class="container px-6 py-10 mx-auto">
                <h1 class="text-3xl font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white">From the blog</h1>
        
                <div class="grid grid-cols-1 gap-8 mt-8 md:mt-16 md:grid-cols-2">

                        <% posts.forEach((post)=>{ %>
                        <div class="flex flex-col justify-between py-6 lg:mx-6">
                            <h3>Published on : <%=post.date_added%></h3>
                            <img class="object-cover w-full h-56 rounded-xl lg:w-64" src="<%=post.path%>" alt="">

                            <a href="/posts/<%=post._id%>" class="mt-5 w-64 text-xl font-semibold text-gray-800 hover:underline dark:text-white ">
                                <%= post.title %>
                            </a>
                            
                            <p class="dark:text-gray-300"><%=post.content.substring(0, 100) + " ..."%></p>
                        </div>
                        <% }) %>
                </div>
            </div>
        </section>


  <%-include("partials/footer")-%>
